.main-section {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 50px 20px;
    margin: auto;
    max-width: 1024px;
}

.main-section-background {
    background-color: #5B6078;
    width: auto;
    height: 100%;
}

.text {
    flex: 1;
}

.text h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.text h2 {
    font-size: 1.2rem;
}

.text p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.text button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #001f3f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.text button:hover {
  background-color: white;
  color: #001f3f;
  border: 1px solid #001f3f;
}

.image {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.image img {
    max-width: 256px;
    background-color: #939AB7;
    border-radius: 2rem;
}

@media (max-width: 1024px) {
    .main-section {
        flex-direction: column;
        text-align: center;
    }

    .text,
    .image {
        width: 100%;
    }
}
