  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css">
    <title>{{ title | default: "C.J. Wade" }}</title>
  </head>
  <nav class="myNav">
    <ul>
      <li>
        <a href="/" class="text-style">Home</a>
      </li>
      <li>
        <a href="/#about" class="text-style">About</a>
      </li>
      <li>
        <a href="/projects" class="text-style">Projects</a>
      </li>
      <li>
        <a href="/pages/resume_export" class="text-style">Resume</a>
      </li>
    </ul>
  </nav>
