body {
  font-family: Helvetica, sans-serif;
  max-width: 700px;
  margin: auto;
  background-color: #DDDDDD;
  padding: 1rem;
}

h1,
h2 {
  text-align: center;
  color: #001f3f;
}

ol {
  font-style: bold;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

title, section[for="christian-j.-wade"] {
  display: none !important;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage {
  width: 14rem;
  height: 14rem;
  border-radius: 2rem;
  background-color: #AAAAAA;
}

.profileText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about{
  display: none;
}

/* Define the main Navigation block */
.myNav {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

/* Remove bullets, margin and padding */
.myNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.myNav li {
  display: inline;
}

/* Define the block styling for the links */
.myNav li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
}

/* This is optional, however if you want to display the 
active link differently apply a background to it */
.myNav li a.active {
  background-color: #3786e1;
}

.skillGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
