*{
    font-family: Arial, Helvetica, sans-serif;
}
[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  .tabs {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px #7e7e7e;
  }
  
  .tab {
    cursor: pointer;
    padding: 20px;
  }
  
  .tab.active {
    background: #98ff98;
  }
  
  .tab:hover {
    background-color: #50b818;
  }
  
  .tab-content {
    margin-left: 20px;
    margin-right: 20px;
  }

.container{
    text-align: left;
}

.button{
    margin-top: 10px;
    justify-content: left;
    height: 40px;
    width: 40px;
    padding: 10px;
    background: #98ff98;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.button:hover{
    background: #50b818;
}

.button.active{
    background: #98ff98;
}

.content-voices{
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    min-width: 965px;
    max-width: auto;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-voices thead tr{
    background-color: #98ff98;
    color: #7e7e7e;
    text-align: left;
    font-weight: bold;
}

.content-voices th, .content-voices td{
    padding: 50px, 20px;
    font-weight: bold;
}

.content-voices tbody tr{
    border-bottom: 1px #7e7e7e;
}

.content-voices tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-voices tbody tr:last-of-type{
    border-bottom: 2px #98ff98;
}

.content-voices tbody tr.active-row{
    font-weight: bold;
    color: #98ff98;
}

.content-voices tbody tr:hover{
    color: #50b818;
}

.content-table{
    padding: 20px;
}

.content-graph{
    
    height: 100px;
    width: 100px;
    padding: 20px;
    background: #98ff98;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.content-graph:hover{
    background: #50b818;
}

.button_icon{
    color: #7e7e7e;
    height: 50px;
    width: 50px;
}

.file-upload__button{
    height: 40px;
    width: 40px;
    padding: 10px;
    background: #98ff98;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.file-upload__button:hover{
    background: #50b818;
}

.file-upload{
    display: inline-flex;
    align-items: center;
    font-size: 15px;
}

.file-upload__input{
    display: none;
}

.file-upload__label{
    max-width: 250px;
    font-size: 0.9em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.file-download__button{
    height: 40px;
    width: 40px;
    padding: 10px;
    background: #98ff98;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.file-download__button:hover{
    background: #50b818;
}

.file-download{
    display: inline-flex;
    align-items: center;
    font-size: 15px;
}

.file-download__input{
    display: none;
}

.file-download__label{
    max-width: 250px;
    font-size: 0.9em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}